grid55.CSS                                                                                                                                                                                                                          BODY { 
    background: no-repeat url("../images/game-background-2.PNG");

    background-size: 100% 100%;

    color: white;

    }
    .Table {
        margin-left: 420px;
        
        margin-top: 10px;


      }

    .photo {
      display: grid;
      justify-items: center;
    }

    .Myresultfinal {
      display: grid;
      justify-items: center;
    }

    .heading1 {
        text-align: center;
        color:honeydew;
        border-width: 1px ;
        border-color: lavenderblush;
    }

    .caption{
        color: greenyellow;
        text-size-adjust: 80%;
    }

    .buttondesign{
        background-size: 100px;
        

    }
    
    .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15, .tile16, .tile17, .tile18, .tile19, .tile20, .tile21, .tile22, .tile23, .tile24, .tile25 {
      
      width: 85px;
      height: 85px;
      border: 1px solid white;
      background: no-repeat url("../images/new-grid-55.jpg"); 
      cursor: grab;
    }
    
    .tile1 {background-position: 0px 0px;}
    .tile2 {background-position: -85px 0px;}
    .tile3 {background-position: -170px 0px;}
    .tile4 {background-position: -255px 0px;}
    .tile5 {background-position: -340px 0px;}
    .tile6 {background-position: 0px -85px;}
    .tile7 {background-position: -85px -85px;}
    .tile8 {background-position: -170px -85px;}
    .tile9 {background-position: -255px -85px;}
    .tile10 {background-position: -340px -85px;}
    .tile11 {background-position: 0px -170px;}
    .tile12 {background-position: -85px -170px;}
    .tile13 {background-position: -170px -170px;}
    .tile14 {background-position: -255px -170px;}
    .tile15 {background-position: -340px -170px;}
    .tile16 {background-position: 0px -255px;}
    .tile17 {background-position: -85px -255px;}
    .tile18 {background-position: -170px -255px;}
    .tile19 {background-position: -255px -255px;}
    .tile20 {background-position: -340px -255px;}
    .tile21 {background-position: 0px -340px;}
    .tile22 {background-position: -85px -340px;}
    .tile23 {background-position: -170px -340px;}
    .tile24 {background-position: -255px -340px;}
    .tile25 {background: white; cursor: default;}

stop_watch.CSS                                                                                                                                                                                                                         body {
  background-color: cadetblue;
}

.stopwatch {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  
  padding-top: 25px;
}



.time {
  font-weight: 300;
  font-size: 98px;
}

.circles {
  
  border-width: 1px;
  border-color: black;

}